*, *:before, *:after {
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
  line-height: 1.2;
  color: white;
  margin: 0;
}

h2{
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color: white;
  margin: 0;
}

h3{
  font-family: abril-display, serif;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  color: #435259;
  margin: 0;
  padding-top: 15px;
}

h4{
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #435259;
  margin: 0;
}

h4:hover {
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #a8986e;
  margin: 0;
}

img {
  width: 100%;
}

input{
  padding: 10px;
  border: none;
  border-radius: 3px;
  height: 40px;
}

button{
  background-color: #a8986e;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 3px;
  height: 40px;
  letter-spacing: .2em;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  margin: 0;
}

button:hover{
  background-color: #cdba87;
}

.side_nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #e4e3de;
  padding: 90px;
  padding-top: 25px;
  padding-bottom: 30px;
  opacity: 95%;
}

.side_nav h2{
  color: #435259;
  padding-bottom: 15px;
}

.side_nav a{
  color: #a8986e;
  text-decoration: none;
  padding-right: 20px;
}

.side_nav a:hover{
  color: #a8986e;
  text-decoration: underline;
}

.header__wrap{
  width: 100%;
  margin: 0 auto;
  background-color: #435259;
}

.header{
  max-width: 1400px;
  padding: 90px;
  padding-top: 25px;
}

.header--section__top{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 50px;
  padding-top: 100px;
}

.header--section__top__copy{
  width: 40%;
}

.header--section__top__email{
  width: 40%;
  margin-bottom: -100px;
}

.header--section__top__email p {
  font-family: abril-text, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 19px;
  color: white;
  padding-bottom: 25px;
}

.header--section__top__email p a.block__link{
  color: #d1d5da;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-decoration: none;
  padding-left: 305px;
}

.header--section__top__email p a.inline__link{
  color: #a8986e;
  text-decoration: none;
  letter-spacing: .2em;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.header--section__top__email p a.inline__link:hover{
  color: #a8986e;
  text-decoration: underline;
  letter-spacing: .2em;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.header--section__top__email p a:hover{
  color: white;
}

.header--section__top input[type="email"]{
  font-family: abril-text, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #435259;
  margin-right: 5px;
}

.header--section__bottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header--section__bottom__logo img{
  width: 125px;
}

.header--section__bottom p a{
  color: #a8986e;
  text-decoration: none;
  letter-spacing: .2em;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.header--section__bottom p a:hover{
  color: white;
  text-decoration: none;
  letter-spacing: .2em;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.header--section__bottom__nav{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}


.header--section__bottom__nav img{
  width: 30px;
  padding: 5px;
  margin-bottom: -10px;
}

.header--section__bottom__nav p{
  padding-left: 30px;
  margin: 0;
}

.recents--playlist__wrap{
  width: 100%;
  margin: 0 auto;
  background-color: #e4e3de;
  padding: 90px;
}

.recents--playlist__wrap p{
  color: #a8986e;
  text-decoration: none;
  letter-spacing: .2em;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  padding-bottom: 30px;
}

.recents--playlist__book__title {

}


.recents--playlist__books{
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
}

.recents--playlist__book{
  width: 14%;
}

.recents--playlist__book img{
  padding-bottom: 20px;
}

.number{
  background-color: white;
  color: #a8986e;
  padding: 33px;
  padding-top: 12px;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  width: 90px;
  height: 90px;
  margin: 15px;
  margin-right: 30px;
}

.feature--playlist__wrap__playlist__item{
  display: flex;
  align-items: center;
  padding: 0;
}

.feature--playlist__wrap__playlist__item h3{
  margin: 0;
  padding: 0;
}

.number__title{
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  color: #435259;
}

.feature--playlist__wrap{
  background-color: #f5f4f0;
  margin: auto;
}

.feature--playlist{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1400px;
  padding: 90px;
  padding-bottom: 45px;
}

.feature--playlist__wrap__button{
  padding-bottom: 75px;
  margin: auto;
}

.feature--playlist__wrap__date{
  transform: rotate(-90deg);
  position: relative;
  width: 8%;
}

.feature--playlist__wrap__date p{
  color: #a8986e;
  text-decoration: none;
  letter-spacing: .2em;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  white-space: nowrap;
  padding-bottom: 50px;
  margin-left: -200px;
}

.feature--playlist__wrap__playlist{
  padding: 25px;
  width: 40%;
  background-color: #ebeae6;
  margin-right: 100px;
}

.feature--playlist__wrap__main{
  width: 50%;
}

.feature--playlist__wrap__main h1{
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
  color: #435259;
  margin: 0;
  padding-bottom: 15px;
}

.feature--playlist__wrap__main p{
  font-family: abril-text, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  color: #435259;
}

.feature--playlist__wrap__main__subtitle p{
  color: #435259;
  text-decoration: none;
  letter-spacing: .2em;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  padding-bottom: 15px;
}

.feature--playlist__wrap__main a{
  color: #a8986e;
  text-decoration: underline;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.more--playlists{
  width: 100%;
  margin: 0 auto;
  background-color: #f5f4f0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  padding-top: 15px;
}

.footer__wrap{
  width: 100%;
  margin: 0 auto;
  background-color: #435259;
}

.footer{
  max-width: 1400px;
  padding: 90px;
  padding-bottom: 50px;
}

.footer--section__top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 50px;
}

.footer--section__top__copy{
  width: 40%;
}

.footer--section__top__email{

}

.footer--section__top__email p a{
  color: #d1d5da;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-decoration: none;
  padding-left: 305px;
}

.footer--section__top__email p a:hover{
  color: white;
}

.footer--section__top input[type="email"]{
  font-family: abril-text, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #435259;
  margin-right: 5px;
}

.footer--section__bottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer--section__bottom p a{
  color: #a8986e;
  text-decoration: none;
  letter-spacing: .2em;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.footer--section__bottom p a:hover{
  color: white;
  text-decoration: none;
  letter-spacing: .2em;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.footer--section__bottom__nav{
  display: flex;
  flex-direction: row;
}

.footer--section__bottom__nav img{
  width: 30px;
  padding: 5px;
  margin-bottom: -10px;
}

.footer--section__bottom__nav p{
  padding-left: 30px;
}

.footer--section__bottom__logo img{
  width: 125px;
}
