<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="https://use.typekit.net/dsf6klq.css">
  <title>Verse Poetry | Make It Match</title>
</head>

<body>

  <h3>Header</h3>
  <img src="../images/header.png" alt="verse poetry header">
  <div class="header__wrap">
    <header class="header">
      <div class="header--section__bottom">
        <div class="header--section__bottom__logo">
          <img src="../images/verso_logo_gold.png" alt="verse logo gold">
        </div>
        <div class="header--section__bottom__nav">
          <p><a href="#">SEARCH</a></p>
          <p><a href="#">ABOUT</a></p>
          <p><a href="#">FOLLOW</a></p>
        </div>
      </div>
      <div class="header--section__top">
        <div class="header--section__top__copy">
          <h1>New poetry, every week</h1>
        </div>
        <div class="header--section__top__email">
          <div class="header--section__top__email__copy">
            <p>Sign up to get a new poetry playlist in your inbox each week. You’ll receive set of poems around a different theme, with a focus on contemporary poets. It’s free, and you can unsubscribe anytime. <a href="#" class="inline__link">READ MORE ABOUT US</a></p>
          </div>
          <input type="email" name="email" value="Your email address">
          <button type="button" name="button">SUBSCRIBE</button>
          <p><a href="#" class="block__link">OR SIGN IN</a></p>
        </div>
      </div>
    </header>
  </div>

  <h3>Playlist</h3>
  <img src="../images/playlist_screenshot.png" alt="verse poetry playlist">
  <div class="recents--playlist__wrap">
      <p>PLAYLISTS FROM RECENT BOOK RELEASES</p>
      <div class="recents--playlist__books">
        <article class="recents--playlist__book">
          <img src="../images/deep_wheel_orcadia.jpeg" alt="deep wheel orcadia book cover">
          <h4>Deep Wheel Orcadia</h4>
          <h3>by Harry Josephine Giles</h3>
        </article>
        <article class="recents--playlist__book">
          <img src="../images/two_murals.jpeg" alt="two murals book cover">
          <h4>Two Murals</h4>
          <h3>by Jesus Castillo</h3>
        </article>
        <article class="recents--playlist__book">
          <img src="../images/basic_needs.jpeg" alt="basic needs book cover">
          <h4>Basic Needs</h4>
          <h3>by Vanessa Jiminez Gabb</h3>
        </article>
        <article class="recents--playlist__book">
          <img src="../images/a_symmetry.jpeg" alt="a symmetry book cover">
          <h4>A Symmetry</h4>
          <h3>by Ari Banias</h3>
        </article>
        <article class="recents--playlist__book">
          <img src="../images/about_blank.jpg" alt="about:blank book cover">
          <h4>about:blank</h4>
          <h3>by Tracy Fuad</h3>
        </article>
        <article class="recents--playlist__book">
          <img src="../images/sousveillance_pageant.jpeg" alt="sousveillance pageant book cover">
          <h4>Sousveillance Project</h4>
          <h3>by Emily Abendroth</h3>
        </article>
      </div>
  </div>

  <h3>Featured Playlist</h3>
  <img src="../images/featured_playlist.png" alt="featured playlist screenshot">
  <div class="feature--playlist__wrap">
    <div class="feature--playlist">
      <div class="feature--playlist__wrap__date">
        <p>FEATURED ON OCTOBER 18, 2021</p>
      </div>
      <div class="feature--playlist__wrap__playlist">
        <div class="feature--playlist__wrap__playlist__item">
          <p class="number">1</p>
          <div>
            <p class="number__title">Practice</p>
            <h3>Ari Banias</h3>
          </div>
        </div>
        <div class="feature--playlist__wrap__playlist__item">
          <p class="number">2</p>
          <div>
            <p class="number__title">With Measure</p>
            <h3>Ari Banias</h3>
          </div>
        </div>
        <div class="feature--playlist__wrap__playlist__item">
          <p class="number">3</p>
          <div>
            <p class="number__title">Waste</p>
            <h3>Ari Banias</h3>
          </div>
        </div>
        <div class="feature--playlist__wrap__playlist__item">
          <p class="number">4</p>
          <div>
            <p class="number__title">Three Tongues</p>
            <h3>Ari Banias</h3>
          </div>
        </div>
      </div>
      <div class="feature--playlist__wrap__main">
        <h1>A Symmetry</h1>
        <div class="feature--playlist__wrap__main__subtitle">
          <p>PLAYLIST BY ARI BANIAS</p>
        </div>
        <p>“If every book of poetry, from now until the end—or the terminal twisting—of time, were to offer itself as a field guide to the apocalypse by attrition in which we are living, in which we are forcing each other to live, then I would nominate Ari Banias’s A SYMMETRY to be among the books that we consult first. In its clear and capacious inventory of the inter- and codependence of what feels like the fullness and failing of all things, Banias’s poetry is transcribing a kind of vigilance that is mournful yet magnetizing, altruistic yet self-adhesive, and always enflowered by the daily uprising of new manifestations of love.”</p>
        <p>—Brandon Shimoda, author of THE GRAVE ON THE WALL</p>
        <p><a href="#">View playlist to continue reading</a></p>
      </div>
    </div>
  </div>

  <div class="more--playlists">
    <button type="button" name="button">LOAD MORE PLAYLISTS</button>
  </div>

  <h3>Footer</h3>
  <img src="../images/footer.png" alt="verse poetry footer">
  <div class="footer__wrap">
    <footer class="footer">
      <div class="footer--section__top">
        <div class="footer--section__top__copy">
          <h2>Get weekly poetry straight to your inbox</h2>
        </div>
        <div class="footer--section__top__email">
          <input type="email" name="email" value="Your email address">
          <button type="button" name="button">SUBSCRIBE</button>
          <p><a href="#">OR SIGN IN</a></p>
        </div>
      </div>
      <div class="footer--section__bottom">
        <div class="footer--section__bottom__logo">
          <img src="../images/verso_logo_gold.png" alt="verse logo gold">
        </div>
        <div class="footer--section__bottom__nav">
          <p><a href="#">SEARCH</a></p>
          <p><a href="#">ABOUT</a></p>
          <p><a href="#">PRIVACY</a></p>
          <p><a href="#">FOLLOW</a></p>
        </div>
      </div>
    </footer>
  </div>

</body>

</html>
