<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="https://use.typekit.net/dsf6klq.css">
  <title>Verse Poetry | Make It Match</title>
</head>

<body>
  <img src="images/footer.png" alt="verse poetry footer">
  <div class="footer__wrap">
    <footer class="footer">
      <div class="footer--section__top">
        <div class="footer--section__top__copy">
          <h2>Get weekly poetry straight to your inbox</h2>
        </div>
        <div class="footer--section__top__email">
          <input type="email" name="email" value="Your email address">
          <button type="button" name="button">SUBSCRIBE</button>
          <p><a href="#">OR SIGN IN</a></p>
        </div>
      </div>
      <div class="footer--section__bottom">
        <div class="footer--section__bottom__logo">
          <img src="images/verso_logo_gold.png" alt="verso logo gold">
        </div>
        <div class="footer--section__bottom__nav">
          <p><a href="#">SEARCH</a></p>
          <p><a href="#">ABOUT</a></p>
          <p><a href="#">PRIVACY</a></p>
          <p><a href="#">FOLLOW</a></p>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>
